@media (max-width: 23.99em) //<383
  //#root
    background: rgba(255, 0, 139, 0.3)


@media (min-width: 24em) //<768
  //#root
    background: rgba(255, 178, 6, 0.3)
  //#root
  //  >div
  //    padding: 0

@media (min-width: 48em) //00
  //#root
    background: rgba(255, 255, 0, 0.19)

