


.info-tur
  position: relative
  z-index: 3
  padding-top: 120px
  background: #fff

  .cell-width-100.top-text-title
    margin-bottom: 90px
  .cell-offset-10.cell-width-30
    .text-title
      margin-bottom: 35px

  .baku
    max-width: 100%

